<LDSGospelSearch>
  <Source></Source>
  <Language></Language>
  <Books>
    <!--<Add></Add>-->
    <!--<Clear/>-->
    <!--<Remove></Remove>-->
  </Books>
  <Map>
    <!--<Add Original="&#x0000;" Replace=""/>-->
    <!--<Clear/>-->
    <!--<Remove Original="&#x0000;"/>-->
  </Map>
  <Search>Verse</Search>
  <Predicate></Predicate>
  <Renames>
    <Add Original="Doctrine and Covenants" Replace="D&amp;C"/>
    <Add Original="," Replace=""/>
    <!--<Clear/>-->
    <!--<Remove Original=""/>-->
  </Renames>
  <Capitalizes>
    <!--<Add></Add>-->
    <!--<Clear/>-->
    <!--<Remove></Remove>-->
  </Capitalizes>
  <Separate></Separate>
  <Priority></Priority>
  <ResultsMode></ResultsMode>
  <Results></Results>
</LDSGospelSearch>