<Query Type="And">
  <Query Type="Regex">
    <Pattern>\bfather\b</Pattern>
    <Options>IgnoreCase</Options>
  </Query>
  <Query Type="Or">
    <Query Type="Regex">
      <Pattern>\bjesus\b</Pattern>
      <Options>IgnoreCase</Options>
    </Query>
    <Query Type="Regex">
      <Pattern>\bchrist\b</Pattern>
      <Options>IgnoreCase</Options>
    </Query>
    <Query Type="Regex">
      <Pattern>\bson\b</Pattern>
      <Options>IgnoreCase</Options>
    </Query>
    <Query Type="Regex">
      <Pattern>\bmessiah\b</Pattern>
      <Options>IgnoreCase</Options>
    </Query>
  </Query>
  <Query Type="Or">
    <Query Type="Regex">
      <Pattern>\bwill\b</Pattern>
      <Options>IgnoreCase</Options>
    </Query>
    <Query Type="Regex">
      <Pattern>\bholy spirit\b</Pattern>
      <Options>IgnoreCase</Options>
    </Query>
    <Query Type="Regex">
      <Pattern>\bholy ghost\b</Pattern>
      <Options>IgnoreCase</Options>
    </Query>
    <Query Type="Regex">
      <Pattern>\bcomforter\b</Pattern>
      <Options>IgnoreCase</Options>
    </Query>
  </Query>
</Query>